.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 32px;
  right: 50px;
  opacity: 0.4;
  background-color: #fff;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 0 12px 16px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  cursor: pointer;
  border-radius: 8px;
  margin-right: auto;
  height: 52px;
  padding: 18px 58px;
  max-width: 156px;
  color: #fcf5e5;
  background-color: #212121;
  opacity: 0.8;
  font-size: 16px;
}

.modal__submit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    margin: 0;
    max-width: 100%;
  }
}
